body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  h1 {
    text-align: center;
  }
  
  .container {
    display: flex;
    gap: 20px;
    padding: 20px;
  }
  
   
  
  .courses {
    width: 80%;
  }
  
  #category-list {
    list-style: none;
    padding: 0;
  }
  
  #category-list li {
    cursor: pointer;
    margin-bottom: 5px;
    font-size: 14px;
}
  
  .course-card {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 16px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .course-card h3 {
    font-size: 17px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;  
    -webkit-box-orient: vertical;  
}
  .categories {
    width: 20%;
    margin-top: 94px;
}
  .title {
    margin: 29px 0;
}
 .course-card p {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    font-size: 14px;
}
  
  .course-card small {
    display: block;
    margin-top: 8px;
    color: #666;
  }
  *{
    margin: 0;
    padding: 0;
  }
  ul{
    list-style: none;
  }
  .container-wrap {
    display: flex; 
    padding: 20px;
  }
  .categories {
    width: 20%;
    
}
#category-list{
  position: sticky;
  top: 30px;
}
  .courses-inner {
              display: grid ;
      grid-template-columns: repeat(3, 1fr);
      gap: 15px;
    }
    .courses{
      width: 80%;
    }
    .card-item {
      background: red;
      height: 398px;
    }
    .course-card img{
      max-width: 100%;
    }
    @media (max-width: 1024px) {  
      .courses-inner { 
      grid-template-columns: repeat(2, 1fr);
      gap: 10px;
    }
    .categories {
      width: 30%;
  }
  .courses{
    width: 70%;
  }
  #category-list li {
    font-size: 13px;
}
.course-card {
  padding: 10px; 
}
    }